/* 全域設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f1a14;
    color: #c9b08a;
    font-family: 'Noto Serif TC', serif;
    line-height: 1.6;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}

/* ========================Header======================== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    margin: 50px;
    border: 1px solid #c9b08a;
    border-radius: 100px;
}

/* 導覽列-logo */
.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-circle {
    width: 60px;
    height: 60px;
}

.logo-text h1 {
    font-size: 16pt;
    letter-spacing: 2px;
}

.logo-text p {
    font-size: 10pt;
    opacity: 0.8;
}

/* 導覽列-button */
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

/* 導覽列-button-文字 */
nav ul li a {
    text-decoration: none;
    color: #c9b08a;
    font-size: 13pt;
    opacity: 0.7;
    transition: 0.3s;
    letter-spacing: 2px;
    /* --- 加入下方這兩行 --- */
    padding: 5px 10px;
}

nav ul li a.active, nav ul li a:hover {
    background-color: rgba(92, 92, 92, 0.6);
    border-radius: 50px;
}

/* 導覽列-serchbar */
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #c9b08a;
    border-radius: 20px;
    padding: 5px 15px;
    height: 30px;
    width: 200px;
}

/* ========================Main-body======================== */
/* section-1 */
.hero-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 80px;
    border: 1px solid #c9b08a;
}


/* section-2 */
.section-2 {
    margin-top: 60px;
    text-align: left;
}

.subtitle {
    font-size: 11pt;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.main-title {
    font-size: 24pt;
    letter-spacing: 10px;
    font-weight: 400;
    color: white;
}

.divide-line {
    border: 0;
    border-top: 1px solid #c9b08a;
    margin-top: 20px;
}

.img-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.dish-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 0 0 40px 40px;
    border: 1px solid #c9b08a;
}

/* section-3 */
.section-3 {
    margin-top: 60px;
    text-align: left;
}

.section-3 .title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3 .context {
    width: 700px;
    text-align: justify;
    color: white;
    letter-spacing: 5px;
}

.phi-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
    border: 1px solid #c9b08a;
}
